
<div class="row">
    <div class="col left">
        <label>OPTIONS</label>
        <br>
        <app-graph-options [optionsList]="optionsList" [optionsForm]="optionsForm" [compID]="currID" (submitEvent)="submitForm()"></app-graph-options>
    </div>
    <div class="col right">
        <h2 *ngIf="errStr.length > 0" style="color: red;">{{errStr}}</h2>
        <div #svgContainer (click)="handleNodeClick($event)"></div>
        <h2 *ngIf="svgString.length <= 0">No graph was created from your request.</h2>
    </div>
</div>