
<div class="row">
    <div class="col options">
        <label>OPTIONS</label>
        <br>
        <app-graph-options [optionsList]="optionsList" [optionsForm]="optionsForm" [compID]="currID" (submitEvent)="submitForm()"></app-graph-options>
    </div>
    <div class="col semantic">
        <label>AF Semantic</label>
        <br>
        <select [formControl]="semanticsSelect">
            <option *ngFor="let item of semantics">{{item}}</option>
        </select>
    </div>
    <div class="col graph">
        <div id="primaryGraph">
        <h2 *ngIf="errStr.length > 0" style="color: red;">{{errStr}}</h2>
        <div #svgContainer (click)="handleNodeClick($event)"></div>
        <h2 *ngIf="svgString.length <= 0">No graph was created from your request.</h2>
        <div>
        <div id="solutionGraphs" *ngIf="solutionSvgs.length > 0">
        <h2>Additional solutions</h2>
        <div *ngFor="let svg of solutionSvgs">
            <div [innerHTML]="svg"></div>
        </div>
        </div>  
        </div>
        </div>
    </div>
    <div class="col list">
        <label>Current Selection</label> 
        <button (click)="reset_graph()">Reset</button>
        <div class="table-container">
        <table *ngFor="let node of nodeOptionsList" class="table-element">
            <label>Node: {{node.id}}</label>
            <tr>
                <th>Option</th>
                <th>Value</th>
            </tr>
                <tr *ngFor="let option of node.options">
                    <td>{{option.name}}</td>
                    <td *ngIf="currID == node.id">{{optionsForm.value[option.name]}}</td>
                    <td *ngIf="currID != node.id">{{option.state}}</td>
                </tr>
        </table>
        </div>
    </div>
</div>